button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: solid black 3px;
    border-radius: 15px;
}
/* button:hover {
    border: solid black 3px;
    border-radius: 15px;
} */

.btn-img {
    width: 100px;
    height: 100px;
}