body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* border: solid black 3px; */
    /* border-radius: 15px; */
}
/* button:hover {
    border: solid black 3px;
    border-radius: 15px;
} */

img {
    width: 100px;
    height: 100px;
}

.score-board h3, header h1, h3 {
    text-align: center;
}

.score-container, .round-container, .selections-container  {
    display: flex;
    justify-content: space-around;
}

.computerScore, .humanScore, .selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: large;
    font-weight: 700;
}

section {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    width: 500px;
}
